@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@font-face {
  font-family: "NATS";
  src: url("/fonts/NATS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url("/fonts/ProximaNovaLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaThin";
  src: url("/fonts/ProximaNovaThin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("/fonts/ProximaNovaRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("/fonts/ProximaNovaBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

.animate-slideIn {
  animation: slideIn 0.5s forwards;
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scrollbar-hide::-webkit-scrollbar-track {
  width: 0px;
  height: 0px;
}
